@charset "UTF-8";

 main { width: 80%; margin:0 auto;  }
 
 a			{ text-decoration: none; color:blue; }
 a:hover	{ text-decoration: underline; }
 
 #menus	a			{ background: white; }
 #menus	td:hover	{ background: yellow; }
 
  table     { width:80%; margin:100px 0px 0 50px; }
  table, td { border:1px solid black; border-collapse: collapse; }
  td        { text-align:center; padding:10px;}
  .right    { text-align:right; }
  h2{ text-align:center;}
  div#btn { text-align:right; margin:0 255px 0 0px;}
