@charset "UTF-8";

.ss {
	display: inline-block;
	width: 100px;
	background:aqua;
}
div {
	text-align:left;
	float:left;
}
div#my {
	/* background:red; */ 
	width:80%;
	height:800px;
	text-align:left;
}
div#my1 {
	border: 1px solid black;
	height: 755px;
	width:300px;
	padding:50px 200px 0px 200px;
}
div#my2 {
	/* text-align: center; */
	height: 800px;
	width:50%;
	border: 1px solid green;
}
div#my3 {
	/* text-align:left; */
	border: 1px solid yellow;
	text-align: center;
/* 	margin: 0px 1000px 0px 0px; */
	height: 400px;
	width:100%;
}
div#my4 {
	border: 1px solid red;
	text-align: center;
	/* text-align:right; */
	height: 400px;
	width:100%;
	float: left; 
}
