<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"  href="/css/common.css" />
<style></style>
<script>
</script>
</head>
<body>
 <div class="sidebar"> 
   <h2>부산 삼거리</h2>
   ID&nbsp;<input type="text" name="id" id ="id" /><br>
   pw&nbsp;<input type="password" name="pw" id ="pw" /><br>
 <div class="btn">
   <input type="button" value="로그인" id="login" />
   <input type="button" value="회원가입" id="join" />
 </div>
 <div class="menu">
   <a href="" >공지사항</a><br>
   <a href="" >볼거리</a><br>
   <a href="" >놀거리</a><br>
   <a href="" >먹거리</a><br>
   <a href="" >Q & A</a><br>
 </div>
 <div class="location">
   <h3 style="color: black">지역날씨</h3><br>
   <b>api</b>
 </div>
 </div>
</body>
</html>